.cadastroContainer {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .cadastrarButton {
    padding: 10px 20px;
    background-color: #003580;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  