.container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  min-height: calc(80vh - 50px); /* Altura total menos a altura aproximada do footer */
  text-align: center;
}

.suporteContainer {
  width: 400px; /* Largura da seção de suporte */
  display: flex;
  flex-direction: column;
  padding: 20px;  
  background-color: #000000; /* Cor de fundo */
  border-radius: 80px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
} 



h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  margin-top: -10px;
  gap: 8px;
  display: flex;
}

  
  .contato {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Espaçamento entre as linhas */
    gap: 12px;
  }
  
  .whatsappLink {
    text-decoration: none;
    color: #25D366; /* Cor do WhatsApp */
    font-size: 18px; /* Tamanho do ícone do WhatsApp */
    
  }
  
  .whatsappIcon {
    font-size: 24px; /* Tamanho do ícone */
    
  }
  
  .whatsappText {
    font-size: 16px; /* Tamanho do texto */
    color: #d9d4d4;
  }
  
  .emailContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
  }
  
  .emailIcon {
    font-size: 20px; /* Tamanho do ícone do e-mail */
    color: #666; /* Cor do ícone */
  }
  
  .emailText {
    font-size: 16px; /* Tamanho do texto do e-mail */
    color: #d9d4d4;
    
  }

  